<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Morgonaut Media - www.morgonaut.cloud</string>
	<key>Description</key>
	<string>Morgonaut</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>0x1F1F1F</string>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		

	</dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Year</key>
	<string>2019</string>
</dict>
</plist>
